.container {
    max-width: 46rem;
}

.header {
    background-color: #2f3337;
    color: white;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.header h3 {
    line-height: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}

.la-selection-form {
    margin-bottom: 2rem;
}

.la-selection-form .form-control {
    max-width: 25rem;
}

.table-titles {
    border-top: 0.05rem solid #e5e5e5;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
}

.footer {
    border-top: 0.05rem solid #e5e5e5;
    color: #777777;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
