{% extends "layout/main.twig" %}

{% block content %}
    <h3 class="text-muted">Server error</h3>
    <h1>500</h1>
    <p>
        Please try again later.
        <a href="/" title="home">Or click here to return to homepage.</a>
    </p>
{% endblock %}
