{% extends "layout/main.twig" %}

{% block content %}
    <h3 class="text-muted">Page not found</h3>
    <h1>404</h1>
    <p><a href="/" title="home">Please click here to return to homepage.</a></p>
{% endblock %}
