{% extends "layout/main.twig" %}

{% block content %}
    <h3 class="text-muted">Method not allowed</h3>
    <h1>405</h1>
    <p><a href="/" title="home">Please click here to return to homepage.</a></p>
{% endblock %}
