{% extends "layout/main.twig" %}

{% block content %}
    <form action="/authority" method="GET" class="la-selection-form">
        <div class="form-group">
            <label for="local-authority-select">Local authority:</label>

            <select class="form-control" id="local-authority-select"
                    name="localAuthorityId" aria-describedby="local-authority-select-help" >
                {% for local_authority in local_authorities %}

                    <option {% if selected_local_authority_id == local_authority.LocalAuthorityId %}
                                selected
                            {% endif %}
                            value="{{ local_authority.LocalAuthorityId|escape }}">
                        {{ local_authority.Name|escape }}
                    </option>
                {% endfor %}
            </select>

            <small id="local-authority-select-help" class="form-text text-muted">
                Choose a local authority to get it's distribution of food
                hygiene ratings.
            </small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if distribution %}
        <div class="table-titles">
            <h3 class="text-muted">Distribution of Food Hygiene Ratings</h3>
            <h1>{{ selected_local_authority_name|escape }}</h1>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Rating</th>
                <th scope="col">Percentage</th>
            </tr>
            </thead>
            <tbody>
            {% for rating, percent in distribution %}
                <tr>
                    <td>{{ rating|escape }}</td>
                    <td>{{ percent|escape }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
