<!doctype html>
<html lang="en">
<head>
    <title>Food Hygiene Ratings</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/dist/style.css">
</head>
<body>
<header class="header clearfix">
    <div class="container">
        <h3>Food Hygiene Ratings</h3>
    </div>
</header>

<div class="container">
    <main class="main">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; George Webb {{ "now"|date("Y") }}</p>
        <p class="small">
            Contains public sector information licensed under the Open Government Licence v3.0.
        </p>
    </footer>
</div>
</body>
</html>
